<!doctype html>
<html>
<head>
    <title>To-Do Home</title>
    </head>
    <body>
        <h1>To-Do List Home Page</h1>
        <p><a href=http://127.0.0.1:5000/contributors>Contributors</a></p>
        <p><a href=http://127.0.0.1:5000/tasks>Tasks</a></p>
        <p>Sort Tasks By:</p>
        <p><a href=http://127.0.0.1:5000/tasks/sort/num>Number</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/sort/owner>Owner</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/sort/name>Name</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/sort/description>Description</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/sort/priority>Priority</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/sort/start>Start</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/sort/due>Due</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/sort/finished>Finished</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/sort/deleted>Deleted</a></p>
        
    </body>
</html>