<!doctype html>
<html>
<head>
    <title>To-Do Home</title>
    </head>
    <body>
        <h1>To-Do List Home Page</h1>
        <p><a href=http://127.0.0.1:5000/contributors>Contributors</a></p>
        <p>Sort Tasks By:</p>
        <p><a href=http://127.0.0.1:5000/tasks/num>Number</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/owner>Owner</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/name>Name</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/description>Description</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/priority>Priority</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/start>Start</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/due>Due</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/finished>Finished</a></p>
        <p><a href=http://127.0.0.1:5000/tasks/deleted>Deleted</a></p>
        
    </body>
</html>